---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/home-components/HeroSection.astro";
import OurSectors from "../components/home-components/OurSectors.astro";
import FounderStories from "../components/home-components/FounderStories.astro";
import PortfolioCompanies from "../components/home-components/PortfolioCompanies.astro";
import OurTeam from "../components/home-components/OurTeam.astro";
import CoInvestors from "../components/home-components/CoInvestors.astro";
import ThoughtOnTheInternet from "../components/home-components/ThoughtOnTheInternet.astro";
import ContactUs from "../components/home-components/ContactUs.astro";
import Footer from "../components/Footer.astro";
import CompanyList from "../components/home-components/CompanyList.jsx";
import { getCollection } from "astro:content";
const companies = await getCollection("companies");
const tempTags = companies.map((comp) => comp.data.tags.flat()).flat();
const uniqueTags = tempTags.filter(
  (value, index) => tempTags.indexOf(value) === index
);

const ourThoughts = await getCollection("thoughts");
---

<Layout title="Lunar ventures">
  <main>
    <header>
      <div>
        <Navbar />
      </div>
    </header>

    <!-- Hero section -->
    <HeroSection />
    <!-- Our Sectors -->
    <OurSectors />
    <!-- Founders stories -->
    <FounderStories />
    <!-- Our portfolio companies -->
    <!-- <PortfolioCompanies /> -->
    <CompanyList client:visible companies={companies} tags={uniqueTags} />
    <!-- Our Team -->
    <OurTeam />
    <!-- Co investors and Followers -->
    <CoInvestors />
    <!-- Thought on the internet -->
    <ThoughtOnTheInternet thoughts={ourThoughts} />
    <!-- Contact Us -->
    <ContactUs />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
