---
import { getCollection } from "astro:content";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import AboutHero from "../components/about-components/AboutHero.astro";
import Accordion from "../components/about-components/Accordion";
import MeetTheTeam from "../components/about-components/MeetTheTeam";
import Footer from "~/components/Footer.astro";
import MissionSlider from "~/components/MissionSlider";
const founderQuotes = await getCollection("founder");

const teams = await getCollection("teams");
---

<Layout title="Lunar ventures">
  <main>
    <header>
      <Navbar />
    </header>

    <!-- Hero section -->
    <AboutHero />

    <!-- Our Investment Philosophy -->
    <section class="">
      <div class="flex flex-col items-center gap-4 justify-center mb-12">
        <h2
          class="text-4xl text-center font-medium text-black mb-8 dark:text-white"
        >
          Our Investment Philosophy
        </h2>
        <p class="text-[#6B7280] text-lg px-4 lg:px-28 text-center">
          Our philosophy is simple. We find companies we believe in and then put
          our whole team behind them. We are a team of engineers, data
          scientists, founders, operators, and investors. We have PhDs,
          colleague drop outs.
        </p>
      </div>
    </section>
    <section>
      <!-- <Accordion client:load /> -->
    </section>
    <!-- accordion section -->
    <section class="mb-12">
      <div>
        <h2
          class="text-4xl bg-white dark:bg-white/5 dark:text-white p-2 font-medium text-black inline-block px-4 rounded-sm mb-6"
        >
          How we help
        </h2>
        <div>
          <Accordion client:load />
        </div>
      </div>
    </section>

    <!-- meet the team -->
    <section class="mb-12">
      <MeetTheTeam client:load />
    </section>

    <!-- Mission slider -->
    <div class="my-32">
      <h2 class="text-4xl font-medium text-center mb-12 dark:text-white">
        What our founders say about us
      </h2>
      <MissionSlider client:visible founderQuotes={founderQuotes} />
    </div>
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
