---
import { getCollection } from "astro:content";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "~/components/Footer.astro";
---

<Layout title="Lunar ventures">
  <main>
    <header>
      <Navbar />
    </header>

    <!-- terms hero -->
    <section class="flex items-center border-b">
      <div class="py-24 flex items-center justify-between">
        <h1 class="titlelg flex-1 dark:text-white">Terms of Use</h1>
        <p class="content flex-1 ps-4 dark:text-white">
          Please read the following terms and conditions. They govern your use
          of this website and its associated services, including the email
          newsletter. By using this website, you agree to be bound by these
          terms and conditions, which may be updated from time to time and
          posted on this Terms of Use page.
        </p>
      </div>
    </section>

    <section class="max-w-xl mx-auto py-24">
      <h2 class="article-title mb-5 dark:text-white">Title 1</h2>
      <p class="content dark:text-white">
        But then I found a component library based on Tailwind CSS called
        Flowbite. It comes with the most commonly used web components, such as
        buttons, navigation bars, cards, form elements, and more which are
        conveniently built with the utility classes from Tailwind CSS.
      </p>
      <!-- img -->
      <img
        src="https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        class="h-[400px] object-cover rounded-2xl my-8"
      />

      <h2 class="article-title mb-5 dark:text-white">Title 1</h2>
      <p class="content dark:text-white">
        But then I found a component library based on Tailwind CSS called
        Flowbite. It comes with the most commonly used web components, such as
        buttons, navigation bars, cards, form elements, and more which are
        conveniently built with the utility classes from Tailwind CSS.
      </p>
      <p class="content mb-5 dark:text-white">
        It also includes a JavaScript file that enables interactive components,
        such as modals, dropdowns, and datepickers which you can optionally
        include into your project via CDN or NPM.
      </p>
      <p class="content mb-5 dark:text-white">
        It also includes a JavaScript file that enables interactive components,
        such as modals, dropdowns, and datepickers which you can optionally
        include into your project via CDN or NPM.
      </p>

      <p class="content mb-5 dark:text-white">
        It also includes a JavaScript file that enables interactive components,
        such as modals, dropdowns, and datepickers which you can optionally
        include into your project via CDN or NPM.
      </p>
      <h2 class="article-title mb-5 dark:text-white">Title 4</h2>
      <ol class="list-decimal dark:text-white">
        <li class="ms-4 mb-4">
          Usability testing. Does your user know how to exit out of screens? Can
          they follow your intended user journey and buy something from the site
          you’ve designed? By running a usability test, you’ll be able to see
          how users will interact with your design once it’s live.
        </li>
        <li class="ms-4 mb-4">
          Usability testing. Does your user know how to exit out of screens? Can
          they follow your intended user journey and buy something from the site
          you’ve designed? By running a usability test, you’ll be able to see
          how users will interact with your design once it’s live.
        </li>
        <li class="ms-4 mb-4">
          Usability testing. Does your user know how to exit out of screens? Can
          they follow your intended user journey and buy something from the site
          you’ve designed? By running a usability test, you’ll be able to see
          how users will interact with your design once it’s live.
        </li>
        <li class="ms-4 mb-4">
          Usability testing. Does your user know how to exit out of screens? Can
          they follow your intended user journey and buy something from the site
          you’ve designed? By running a usability test, you’ll be able to see
          how users will interact with your design once it’s live.
        </li>
        <li class="ms-4 mb-4">
          Usability testing. Does your user know how to exit out of screens? Can
          they follow your intended user journey and buy something from the site
          you’ve designed? By running a usability test, you’ll be able to see
          how users will interact with your design once it’s live.
        </li>
      </ol>

      <h2 class="article-title mb-5 dark:text-white">Title 4</h2>
      <h3 class="subtitle dark:text-white">Subtitle</h3>
      <p class="content mb-5 dark:text-white">
        It also includes a JavaScript file that enables interactive components,
        such as modals, dropdowns, and datepickers which you can optionally
        include into your project via CDN or NPM.
      </p>
      <h3 class="subtitle dark:text-white">Subtitle</h3>
      <p class="content mb-5 dark:text-white">
        It also includes a JavaScript file that enables interactive components,
        such as modals, dropdowns, and datepickers which you can optionally
        include into your project via CDN or NPM.
      </p>
    </section>
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
