---
const currentYear = new Date().getFullYear();
---

<style>
  .footer {
    position: relative;
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(illustrations/footer-Illustration.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    opacity: 0.05;
  }

  .subscribe {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .brand {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #1f2a37;
  }
</style>

<section class="dark:bg-[#111628] dark:backdrop-blur-2xl relative z-0">
  <div
    class="newsletter footer dark:bg-[#111628] relative w-full opacity-100 z-10"
  >
    <div
      data-aos="fade-up"
      class="w-full text-center flex flex-col items-center py-12"
    >
      <h2 class="text-3xl font-bold mb-10 dark:text-white">
        Subscribe to our newsletter
      </h2>
      <p class="max-w-sm text-[#4B5563] dark:text-[#9CA3AF] text-base mb-10">
        Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus amet
        dui quam vitae quis leo.
      </p>
      <div
        class="flex flex-col md:flex-row items-center justify-center gap-3 mb-10"
      >
        <input
          type="email"
          name=""
          id=""
          placeholder="Enter your email"
          class="bg-[#F3F4F6] dark:bg-white/10 py-4 px-6 rounded-[14px] w-full md:min-w-96"
        />
        <a
          href="#"
          class="subscribe rounded-[14px] py-4 px-6 text-white bg-black dark:bg-white/10 inline-flex items-center gap-2 text-nowrap"
          >Subscribe<span>
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.5312 9.22656C11.5312 9.4401 11.4583 9.61719 11.3125 9.75781C11.1719 9.89844 11.0078 9.96875 10.8203 9.96875C10.6276 9.96875 10.4609 9.89583 10.3203 9.75C10.1849 9.60417 10.1172 9.4401 10.1172 9.25781V6.36719L10.2578 2.71875L8.96875 4.17969L1.21094 11.9297C1.07031 12.0703 0.90625 12.1406 0.71875 12.1406C0.588542 12.1406 0.46875 12.1068 0.359375 12.0391C0.25 11.9714 0.161458 11.8828 0.09375 11.7734C0.0260417 11.6589 -0.0078125 11.5391 -0.0078125 11.4141C-0.0078125 11.2318 0.0651042 11.0677 0.210938 10.9219L7.95312 3.16406L9.40625 1.89062L5.59375 2.01562H2.875C2.69271 2.01562 2.52865 1.94792 2.38281 1.8125C2.24219 1.67188 2.17188 1.50781 2.17188 1.32031C2.17188 1.13281 2.23958 0.96875 2.375 0.828125C2.51042 0.682292 2.6875 0.609375 2.90625 0.609375H10.7656C11 0.609375 11.1849 0.679688 11.3203 0.820312C11.4557 0.960938 11.5234 1.14323 11.5234 1.36719L11.5312 9.22656Z"
                fill="currentColor"></path>
            </svg>
          </span>
        </a>
      </div>
      <div class="flex items-center gap-4 mb-12">
        <!-- <a href="#" class="rounded-xl bg-[#F3F4F6] dark:bg-[#1F2A37]">
          <img src="brands/linkedIn.svg" class="" alt="" />
        </a>
        <a href="#" class="rounded-xl bg-[#F3F4F6] dark:bg-[#1F2A37]">
          <img src="brands/linkedIn.svg" alt="" />
        </a>
        <a href="#" class="rounded-xl bg-[#F3F4F6] dark:bg-[#1F2A37]">
          <img src="brands/linkedIn.svg" alt="" />
        </a> -->
        <a href="#" class="brand">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="LinkedIn"
              d="M0 2.42005C0 1.84284 0.202708 1.36665 0.608108 0.991481C1.01351 0.616295 1.54055 0.428711 2.18919 0.428711C2.82626 0.428711 3.34169 0.613403 3.73552 0.982823C4.14092 1.36378 4.34363 1.86016 4.34363 2.472C4.34363 3.02611 4.14672 3.48786 3.7529 3.85728C3.3475 4.23823 2.81467 4.42871 2.15444 4.42871H2.13707C1.49999 4.42871 0.984562 4.23823 0.590734 3.85728C0.196905 3.47633 0 2.99725 0 2.42005ZM0.225869 17.5716V6.00447H4.08301V17.5716H0.225869ZM6.22008 17.5716H10.0772V11.1127C10.0772 10.7086 10.1236 10.3969 10.2162 10.1776C10.3784 9.78512 10.6245 9.45323 10.9546 9.18195C11.2847 8.91066 11.6988 8.77503 12.1969 8.77503C13.4942 8.77503 14.1429 9.6466 14.1429 11.3897V17.5716H18V10.9395C18 9.23101 17.5946 7.9352 16.7838 7.05208C15.973 6.16897 14.9015 5.72741 13.5695 5.72741C12.0753 5.72741 10.9112 6.3681 10.0772 7.64949V7.68412H10.0598L10.0772 7.64949V6.00447H6.22008C6.24324 6.37387 6.25483 7.52249 6.25483 9.45035C6.25483 11.3782 6.24324 14.0853 6.22008 17.5716Z"
              fill="#4B5563"></path>
          </svg>
        </a>
        <a href="#" class="brand">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="Vector"
              d="M10.6756 7.62177L17.2324 0H15.6786L9.98536 6.61788L5.43815 0H0.193481L7.06976 10.0074L0.193481 18H1.74733L7.75958 11.0113L12.5618 18H17.8064L10.6752 7.62177H10.6756ZM8.54738 10.0956L7.85067 9.09906L2.3072 1.16971H4.69381L9.16746 7.56895L9.86417 8.56546L15.6794 16.8835H13.2928L8.54738 10.096V10.0956Z"
              fill="#4B5563"></path>
          </svg>
        </a>
        <a href="#" class="brand">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="LinkedIn"
              d="M0 2.42005C0 1.84284 0.202708 1.36665 0.608108 0.991481C1.01351 0.616295 1.54055 0.428711 2.18919 0.428711C2.82626 0.428711 3.34169 0.613403 3.73552 0.982823C4.14092 1.36378 4.34363 1.86016 4.34363 2.472C4.34363 3.02611 4.14672 3.48786 3.7529 3.85728C3.3475 4.23823 2.81467 4.42871 2.15444 4.42871H2.13707C1.49999 4.42871 0.984562 4.23823 0.590734 3.85728C0.196905 3.47633 0 2.99725 0 2.42005ZM0.225869 17.5716V6.00447H4.08301V17.5716H0.225869ZM6.22008 17.5716H10.0772V11.1127C10.0772 10.7086 10.1236 10.3969 10.2162 10.1776C10.3784 9.78512 10.6245 9.45323 10.9546 9.18195C11.2847 8.91066 11.6988 8.77503 12.1969 8.77503C13.4942 8.77503 14.1429 9.6466 14.1429 11.3897V17.5716H18V10.9395C18 9.23101 17.5946 7.9352 16.7838 7.05208C15.973 6.16897 14.9015 5.72741 13.5695 5.72741C12.0753 5.72741 10.9112 6.3681 10.0772 7.64949V7.68412H10.0598L10.0772 7.64949V6.00447H6.22008C6.24324 6.37387 6.25483 7.52249 6.25483 9.45035C6.25483 11.3782 6.24324 14.0853 6.22008 17.5716Z"
              fill="#4B5563"></path>
          </svg>
        </a>
      </div>
      <hr />
      <!-- footer -->
      <footer
        class="footer max-w-5xl mx-auto w-full flex flex-col sm:flex-row justify-between items-center text-start border-t pt-4 dark:border-white/5 px-4 pb-4"
      >
        <p
          class="text-center md:text-left px-4 md:px-0 mb-4 md:mb-0 dark:text-[#4B5563]"
        >
          Copyright © <span>{currentYear}</span> Lunar Ventures | All Rights Reserved
        </p>
        <ul class="flex items-center flex-wrap gap-4 dark:text-[#4B5563]">
          <li>
            <a href="terms">Terms</a>
          </li>
          <li>
            <a href="#">Cookies</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="#">Imprint</a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</section>

<style>
  .newsletter {
    /* background: url("/illustrations/newsletterIllustration.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    /* opacity: 0.9; */
  }
</style>
