---

---

<section data-aos="fade-up">
  <div
    class="max-w-5xl mx-auto mb-12 md:mb-24 bg-white/10 border-white border-2 backdrop-blur-sm rounded-3xl py-12"
  >
    <h2
      class="text-4xl text-center font-medium text-black mb-12 dark:text-white"
    >
      Some of our co investors and followers
    </h2>
    <div
      class="flex flex-col md:flex-row items-center justify-between px-12 gap-y-10 sm:gap-3"
    >
      <div class="">
        <img src="/brands/codeamatrix.png" class="dark:invert" alt="" />
      </div>
      <div class="">
        <img src="/brands/eventup.png" class="dark:invert" alt="" />
      </div>
      <div class="">
        <img src="/brands/grammerly.png" class="dark:invert" alt="" />
      </div>
      <div class="">
        <img src="/brands/planetscale.png" class="dark:invert" alt="" />
      </div>
      <div class="">
        <img src="/brands/smith.png" class="dark:invert" alt="" />
      </div>
    </div>
  </div>
</section>
