---

---

<section class="mt-10 md:mt-0 z-10 relative" data-aos="fade-up">
  <div
    class="w-full sm:max-w-5xl mx-auto mb-24 flex flex-col sm:flex-row items-start justify-between"
  >
    <div class="w-full sm:max-w-[400px] flex flex-col gap-2 mb-6 sm:mb-0">
      <span class="uppercase text-lg md:text-xl font-bold text-[#111628]">
        Contact us
      </span>
      <h3 class="text-2xl md:text-3xl xl:text-5xl dark:text-white">
        Get in touch today
      </h3>
      <p class="mb-12 dark:text-[#9CA3AF]">
        Lorem ipsum dolor sit amet consectetur adipiscing elit nulla adipiscing
        tincidunt interdum tellus du.
      </p>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <svg
            width="19"
            height="15"
            viewBox="0 0 19 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.52344 14.1016C1.71094 14.1016 1.09896 13.8984 0.6875 13.4922C0.276042 13.0859 0.0703125 12.4818 0.0703125 11.6797V3.05469C0.0703125 2.2474 0.265625 1.64323 0.65625 1.24219C1.04688 0.835938 1.59115 0.632812 2.28906 0.632812H16.4688C17.2812 0.632812 17.8932 0.835938 18.3047 1.24219C18.7161 1.64323 18.9219 2.2474 18.9219 3.05469V11.6797C18.9219 12.4818 18.7266 13.0859 18.3359 13.4922C17.9453 13.8984 17.401 14.1016 16.7031 14.1016H2.52344ZM2.47656 12.9062H16.5078C16.8984 12.9062 17.1979 12.8021 17.4062 12.5938C17.6198 12.3854 17.7266 12.0807 17.7266 11.6797V3.05469C17.7266 2.65365 17.6198 2.34896 17.4062 2.14062C17.1979 1.93229 16.8984 1.82812 16.5078 1.82812H2.47656C2.09115 1.82812 1.79167 1.93229 1.57812 2.14062C1.36979 2.34896 1.26562 2.65104 1.26562 3.04688V11.6719C1.26562 12.0781 1.36979 12.3854 1.57812 12.5938C1.79167 12.8021 2.09115 12.9062 2.47656 12.9062ZM9.49219 9.42188C9.24219 9.42188 8.9974 9.375 8.75781 9.28125C8.51823 9.18229 8.28646 9.03125 8.0625 8.82812L0.710938 2.21094L1.52344 1.39062L8.74219 7.89844C8.98177 8.11198 9.23177 8.21875 9.49219 8.21875C9.75781 8.21875 10.0078 8.11198 10.2422 7.89844L17.4609 1.39062L18.2734 2.21094L10.9219 8.82812C10.6979 9.03125 10.4661 9.18229 10.2266 9.28125C9.98698 9.375 9.74219 9.42188 9.49219 9.42188ZM1.64062 13.1016L0.828125 12.2812L6.375 6.73438L7.1875 7.54688L1.64062 13.1016ZM17.3594 13.1094L11.7969 7.54688L12.6172 6.73438L18.1719 12.2891L17.3594 13.1094Z"
              fill="#4B5563"></path>
          </svg>
          <span class="text-base text-[#4B5563] dark:text-[#9CA3AF]"
            >contact@company.com</span
          >
        </div>
        <div class="flex items-center gap-2">
          <svg
            width="6"
            height="18"
            viewBox="0 0 6 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.0625 3.72656C0.0625 3.1849 0.192708 2.69271 0.453125 2.25C0.71875 1.80208 1.07292 1.44531 1.51562 1.17969C1.95833 0.914062 2.45052 0.78125 2.99219 0.78125C3.53906 0.78125 4.03385 0.914062 4.47656 1.17969C4.91927 1.44531 5.27083 1.80208 5.53125 2.25C5.79688 2.69271 5.92969 3.1849 5.92969 3.72656C5.92969 4.1849 5.83333 4.60938 5.64062 5C5.44792 5.39062 5.1849 5.72396 4.85156 6C4.51823 6.27604 4.14062 6.46615 3.71875 6.57031V13.8203C3.71875 14.3984 3.69531 14.9089 3.64844 15.3516C3.60156 15.7943 3.54167 16.1667 3.46875 16.4688C3.40104 16.7708 3.32292 16.9974 3.23438 17.1484C3.15104 17.3047 3.07031 17.3828 2.99219 17.3828C2.91406 17.3828 2.83333 17.3047 2.75 17.1484C2.66667 16.9922 2.58854 16.763 2.51562 16.4609C2.44271 16.1589 2.38281 15.7865 2.33594 15.3438C2.28906 14.9062 2.26562 14.3984 2.26562 13.8203V6.57031C1.84375 6.46615 1.46615 6.27604 1.13281 6C0.799479 5.72396 0.536458 5.39062 0.34375 5C0.15625 4.60938 0.0625 4.1849 0.0625 3.72656ZM2.14844 3.88281C2.42448 3.88281 2.66146 3.78385 2.85938 3.58594C3.05729 3.38281 3.15625 3.14583 3.15625 2.875C3.15625 2.60417 3.05729 2.36979 2.85938 2.17188C2.66146 1.97396 2.42448 1.875 2.14844 1.875C1.88281 1.875 1.64844 1.97396 1.44531 2.17188C1.2474 2.36979 1.14844 2.60417 1.14844 2.875C1.14844 3.14583 1.2474 3.38281 1.44531 3.58594C1.64844 3.78385 1.88281 3.88281 2.14844 3.88281Z"
              fill="#4B5563"></path>
          </svg>

          <span
            class="text-base text-[#4B5563] ml-3 max-w-[150px] dark:text-[#9CA3AF]"
            >794 Mcallister St San Francisco, 94102</span
          >
        </div>
      </div>
    </div>
    <div class="w-full sm:max-w-[400px]">
      <div
        class="bg-white/50 dark:bg-white/5 p-4 h-full w-full backdrop-blur-sm dark:backdrop-blur-md border border-white dark:border-white/5 rounded-[14px]"
      >
        <form>
          <div class="mb-4">
            <label for="" class="sr-only">username</label>
            <input
              type="text"
              class="w-full px-4 py-4 rounded-[14px] border-none dark:bg-white/5"
              placeholder="John Carter"
            />
          </div>
          <div class="mb-4">
            <label for="" class="sr-only">email</label>
            <input
              type="email"
              class="w-full px-4 py-4 rounded-[14px] border-none dark:bg-white/5"
              placeholder="example@email.com"
            />
          </div>

          <div class="mb-4">
            <textarea
              name=""
              id=""
              cols="15"
              rows="5"
              placeholder="Please type your message here..."
              class="w-full px-4 py-4 rounded-md border-none resize-none dark:bg-white/5"
            ></textarea>
          </div>

          <button
            type="button"
            class="block w-full py-4 px-6 rounded-xl bg-[#D92977] text-white"
            >Submit</button
          >
        </form>
      </div>
    </div>
  </div>
</section>
