---

---

<style>
  .title {
    line-height: 150%;
  }
</style>

<section class="hero min-h-96" data-aos="fade-up">
  <div class="max-w-[686px] mr-auto py-24 flex flex-col gap-7">
    <h1 class="relative text-3xl md:text-4xl xl:text-6xl dark:text-white title">
      Backing Europes most ambitious <span class="brand">
        deep tech founders</span
      >
    </h1>
    <p class="text-[#6B7280] text-base max-w-[600px]">
      If you're a technical founder who's struggled to explain your tech and
      vision to investors, we set up a fund for you. We invest pre-revenue to
      help turn your science fiction into reality.
    </p>
    <div class="mb-12">
      <a
        href="#"
        class="py-4 px-6 rounded-xl text-white bg-[#D92977] inline-flex items-center gap-2"
        >Read more <span>
          <img src="icons/linkopen.svg" alt="" />
        </span>
      </a>
    </div>

    <div class="flex items-center gap-5">
      <div class="flex -space-x-4 rtl:space-x-reverse">
        <img
          class="w-14 h-14 border-2 border-[#E5E7EB] rounded-full dark:border-gray-800"
          src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <img
          class="w-14 h-14 border-2 border-[#E5E7EB] rounded-full dark:border-gray-800"
          src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1899&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <img
          class="w-14 h-14 border-2 border-[#E5E7EB] rounded-full dark:border-gray-800"
          src="https://images.unsplash.com/photo-1500048993953-d23a436266cf?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
      <span class="dark:text-white">500+ founders</span>
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("illustrations/hero-Illustration.png");
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1;
    filter: opacity(0.5);
  }
</style>
