---

---

<style>
  .oursectors {
    position: relative;
  }
  .oursectors::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("illustrations/oursectors-Illustration.png");
    background-repeat: no-repeat;
    background-position: left center;
    z-index: -1;
    filter: opacity(0.5);
  }
  .txt {
    line-height: 1.3;
  }
</style>

<section class="oursectors" data-aos="fade-up">
  <div class="px-4 md:px-12 xl:px-28 py-6 md:py-24">
    <h2
      class="txt mb-12 text-2xl md:text-4xl xl:text-5xl text-[#111628] dark:text-white text-center leading-normal lg:px-14"
    >
      If you’re a technical founder who's struggled to explain your tech and
      vision to investors, we set up a <span class="dark:text-[#6B7280]"
        >fund for you. We invest pre-revenue to help turn your science fiction
        into reality.</span
      >
    </h2>
    <div class="flex items-center flex-col justify-center">
      <h3
        class="uppercase text-xl font-bold text-[#111628] dark:text-white mb-12"
      >
        Our Sectors
      </h3>
      <div
        class="flex items-center justify-center flex-wrap gap-x-3 gap-y-2 xl:gap-y-3 max-w-[800px]"
      >
        <a
          href="/portfolio#ai-infrastructure"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >AI Infrastructure</a
        >
        <a
          href="/portfolio#semiconductors"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Semiconductors
        </a>
        <a
          href="/portfolio#data-infrastructure"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Data Infrastrcuture</a
        >
        <a
          href="/portfolio#space-tech"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Space Tech</a
        >
        <a
          href="/portfolio#next-gen-gaming"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Next Gen Gaming</a
        >
        <a
          href="/portfolio#quantum-computing"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Quantumn Computing</a
        >
        <a
          href="/portfolio#autonomous-agents"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Autonomous Agents</a
        >
        <a
          href="/portfolio#bio-tech"
          class="px-6 py-3 rounded-full brand bg-[#FDF2F8] dark:bg-[#EA4A9933] border-[#FBCFE8] border text-base hover:shadow"
          >Bio Tech</a
        >
      </div>
    </div>
  </div>
</section>
