---
import SliderComponent from "./SliderComponent";
import { getCollection } from "astro:content";
import TeamSlider from "./TeamSlider";
const teams = await getCollection("teams");
---

<section>
  <div
    class="relative max-w-5xl mx-auto rounded-xl flex flex-col items-center justify-center"
    data-aos="fade-up"
  >
    <h3 class="uppercase text-xl font-bold text-[#111628] mb-4">OUR TEAM</h3>
    <h2
      class="z-10 text-4xl text-center max-w-[600px] font-medium text-black dark:text-white mb-9"
    >
      We are former CTOs, founders, researchers, and engineers.
    </h2>

    <!-- slider  -->
    <div class="relative max-w-5xl mx-auto w-[95%] mb-12">
      <!-- <TeamSlider teams={teams} client:load /> -->
      <img
        src="team1.jpg"
        alt=""
        class="rounded-xl w-full h-full object-cover"
      />
    </div>

    <div class="mb-24">
      <a
        href="/team"
        class="py-4 px-6 rounded-xl text-white bg-black dark:bg-white/5 inline-flex items-center gap-2"
        >Meet the team <span>
          <img src="icons/linkopen.svg" alt="" />
        </span>
      </a>
    </div>
  </div>
</section>

<style>
  @media only screen and (min-width: 1290px) {
    .prev {
      margin-left: -60px !important;
    }
    .next {
      margin-right: -60px !important;
    }
  }
  .imgwrapper {
    position: relative;
    overflow: hidden;
  }

  .imgwrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(217, 41, 119, 0.5) 0%,
      rgba(217, 41, 119, 0) 49.77%
    );
    border-radius: 15px;
    z-index: 100;
  }
</style>
